<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Agency Team</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename = 'assets/favicon.ico') }}" />
  <!-- Bootstrap css -->
  <link href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Bootstrap js -->
  <script src="{{ url_for('static', filename = 'js/bootstrap.bundle.min.js') }}"></script>

</head>

<body>
  <!-- Responsive navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold" href="/">Agency Team</a>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          {% if g.user %}
          <li class="nav-item dropstart">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              관리자 기능 &nbsp;
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/">...</a></li>
            </ul>
          </li>
          {% endif %}
        </ul>
        <ul class="navbar-nav">
          {% if g.user %}
          <li class="nav-item">
            <a class="nav-link navbar-right" href="{{ url_for('auth.logout') }}">
              로그아웃
            </a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link navbar-right" href="{{ url_for('auth.login') }}">
              <img src="{{ url_for('static', filename='img/admin.png') }}" alt="" width="30" height="24"
                class="d-inline-block align-text-top">
              관리자 로그인
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <!-- Page content-->
  {% block content %}
  {% endblock %}

  <!-- footer -->
  <footer class="bg-dark text-center text-white">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      <br>
      <p class="fst-italic">© 2021 Copyright : AgencyTeam x 데이터청년캠퍼스[서울여대]</p>
    </div>
  </footer>
</body>

</html>